* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-rows: repeat(4 1fr);
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "footer footer footer footer footer";
}

.header,
.sidebar,
.main,
.footer {
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: lightblue;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgray;
}

.sidebar h1 {
  font-size: 15px;
  text-align: center;
}
.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sidebar p {
  font-size: 0.8rem;
  text-align: center;
}

.sidebar a {
  color: black;
}

.main {
  grid-area: main;
  background-color: lightyellow;
}

.footer {
  grid-area: footer;
  background-color: lightcoral;
}

.footer input {
  justify-items: center;
}

a {
  font-size: large;
  text-decoration: none;
  font-weight: 700;
}

.navBar {
  display: flex;
  background-color: rgb(129, 129, 216);
}

.navBar a {
  margin: 5px;
  color: white;
}

h2 {
  font-size: medium;
}

.Dipper {
  padding: 25px;
  height: 100px;
  transform: rotate(270deg);
}
img {
  width: 150px;
  margin-left: 200px;
}
/* added media query */
@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
}
